CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_tiny=y
CONFIG_TARGET_ar71xx_tiny_DEVICE_tl-mr3420-v3=y

CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y

CONFIG_PACKAGE_firewall=y
CONFIG_PACKAGE_iptables=y

CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y

CONFIG_PACKAGE_wpad-mini=y

CONFIG_PACKAGE_opkg=y

CONFIG_BUSYBOX_CUSTOM=y

CONFIG_IPV6=n

CONFIG_PACKAGE_luci=n
CONFIG_PACKAGE_uhttpd=n

CONFIG_ALL_NONSHARED=n
CONFIG_ALL_KMODS=n
